.loginpage {
  display: flex;
   width:100%;      
}

/* LEFT IMAGE */
.login-image {
  flex: 1;
  height: 100%;
  object-fit: cover;
}

/* RIGHT FORM */
.loginform {
  flex: 2;
  background-color: rgb(173, 167, 167);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 60px;
}

/* INPUTS */
.loginform input {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 18px;

  border-radius: 12px;
  border: 1px solid #787c83;
  background-color: #91979c;
  font-size: 15px;
}

.loginform input:focus {
  outline: none;
  border-color: #44434a;
  background-color: #bcb5b5;
}

/* BUTTON */
.loginform button {
  margin-top: 10px;
  padding: 14px;
  border-radius: 999px;
  border: none;

  background-color: #4f46e5;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
