.main {
  width:100%;      
  max-width: 450px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  background: #1f1f1f;
  box-shadow: 0 10px 30px rgba(236, 188, 188, 0.3);
  color: rgb(219, 233, 236);
  font-family:  sans-serif;
}

.signuptitle {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color :aqua ;
  font-style: italic;
  font-weight: 600;
}
.signupform {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 18px;
}

.role {
  margin-bottom: 18px;
}
.Quizzo{
   
 justify-content: center;
  font-size: 28px;
  color :rgb(229, 236, 236) ;
  font-style: italic;
  font-weight: 600;
}
